<footer id="footer">
    <div class="container">
      <div class="row">

        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
          <h4>About Us</h4>
          <div class=" d-flex flex-column justify-content-start align-items-start">
            <p class="px-1 w-75 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugit vitae nihil placeat. Alias quae quod tenetur sed. Laudantium, ullam. Architecto neque necessitatibus quia itaque deleniti aliquid deserunt blanditiis ullam.</p>
            <p class="px-1 w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugit vitae nihil placeat. Alias quae quod tenetur sed. Laudantium, ullam. Architecto neque necessitatibus quia itaque deleniti aliquid deserunt blanditiis ullam.</p>
          </div>
          
        </div>

        <div class="col-12 col-lg-3 col-md-3 col-sm-12">
          <h4>Categories</h4>
          <ul class="list-unstyled d-flex flex-column justify-content-start align-items-start">
            <li class="m-1"><a>UX Design</a></li>
            <li class="m-1"><a>UI Design</a></li>
            <li class="m-1"><a>Backend Development</a></li>
            <li class="m-1"><a>Javascript</a></li>
            <li class="m-1"><a>MEAN Stack</a></li>
            <li class="m-1"><a>Templates</a></li>
          </ul>
        </div>

        <div class="col-12 col-lg-3 col-md-3 col-sm-12">
          <h4>Quick Links</h4>
          <ul class="list-unstyled d-flex flex-column justify-content-start align-items-start">
            <li class="m-1"><a>About Us</a></li>
            <li class="m-1"><a>Contact Us</a></li>
            <li class="m-1"><a>Contribute</a></li>
            <li class="m-1"><a>Privacy Policy</a></li>
            <li class="m-1"><a>Sitemap</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 col-md-2 col-sm-12">
          <h4>Social Accounts</h4>
          <ul class="list-unstyled d-flex flex-row flex-lg-column flex-md-column justify-content-start align-items-start">
            <li class="m-1"><a class="facebook" href="#"><fa-icon [icon]="faFacebook" size="3x"></fa-icon></a></li>
            <li  class="m-1"><a class="twitter" href="#"><fa-icon [icon]="faTwitter" size="3x"></fa-icon></a></li>
            <li  class="m-1"><a class="github" href="#"><fa-icon [icon]="faGithub" size="3x"></fa-icon></a></li>
            <li  class="m-1"><a class="linkedin" href="#"><fa-icon [icon]="faLinkedin" size="3x"></fa-icon></a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="container d-flex flex-column justify-content-center align-items-center">
      <div class="copyright">
        &copy; All CopyRights for <strong>Party</strong> Are Reserved
      </div>
      <div class="credits">
        developed by <a href="https://www.linkedin.com/in/elserety/"> Mohamed Elserety</a>
      </div>
      <a href="#" class="back-to-top"><fa-icon [icon]="faChevronUp" size="3x"></fa-icon></a>
    </div>

  </footer>