
<section id="about" class="wow fadeInUp p-5">
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <div class="row">
          <div class="col-12 ">
            <h2 class="sectionHeader">About me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
              eius magni provident, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..
            </p>
          </div>
        
      </div>
      <div class="row">
        <div class="col-12 col-lg-8 col-md-7 col-sm-12">
          <p class="my-4 me-md-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi beatae sunt adipisci natus totam quod
            quis corporis ab, sapiente, consectetur corrupti in. Nam dicta culpa, laboriosam iure quae sunt mollitia.
            Voluptatibus modi labore saepe iste? Nostrum tempore ut vitae magnam.</p>
          
          <p class="my-4 me-md-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, maxime. Consectetur adipisicing elit. Dolores
            quae porro consequatur aliquam, incidunt fugiat. Dolores quae porro
            consequatur aliquam, incidunt fugiat culpa esse aute nulla. malis nulla duis fugiat</p>
        </div>
        <div class="col-12 col-lg-4 col-md-5 col-sm-12">
          <img src="../../assets/images/pics/portfolio/11.jpg" style="object-fit: cover;" class="img-fluid h-100 myImg" alt="">
        </div>

      </div>

    </div>
  </section>

