<div id="event" class="container">
  <div class="section-header d-flex-c my-3">
    <h2>Our coming Events</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
      fugiat culpa esse aute nulla. malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim
      illum fore</p>
  </div>

  <div class="row">

    <div class="col-12">
      <div class="box2 wow fadeInLeft">
        <div class="leftSec">
          <p>9.30 - 10.30 AM
            <br>Workshop</p>
        </div>
        <div class="rightSec">
          <h4 class="title"><a href="">Marketing</a></h4>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro
            consequatur aliquam, incidunt fugiat culpa esse aute nulla.</p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="box2 wow fadeInRight">
        <div class="leftSec">
          <p>9.30 - 10.30 AM
            <br>Workshop</p>
        </div>
        <div class="rightSec">
          <h4 class="title"><a href="">Marketing</a></h4>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro
            consequatur aliquam, incidunt fugiat culpa esse aute nulla.</p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="box2 wow fadeInLeft" data-wow-delay="0.2s">
        <div class="leftSec">
          <p>9.30 - 10.30 AM
            <br>Workshop</p>
        </div>
        <div class="rightSec">
          <h4 class="title"><a href="">Marketing</a></h4>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro
            consequatur aliquam, incidunt fugiat culpa esse aute nulla.</p>
        </div>
      </div>
    </div>
