<section id="portfolio" class="wow fadeInUp">
    <div class="container">
      <div class="section-header d-flex flex-column justify-content-center align-items-center">
        <h2 class="heading">Our Gallery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
          fugiat culpa esse aute nulla. nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum
          fore</p>
      </div>
    </div>

    <div class="container">
      <div class="row ">

        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
          <div class="portfolio-item wow fadeInUp">
            <a href="../../assets/images/pics/portfolio/1.jpg" class="portfolio-popup">
              <img src="../../assets/images/pics/portfolio/1.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info">
                  <h2 class="wow fadeInUp">Lorem, ipsum.</h2>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
          <div class="portfolio-item wow fadeInUp">
            <a href="../../assets/images/pics/portfolio/2.jpg" class="portfolio-popup">
              <img src="../../assets/images/pics/portfolio/2.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info">
                  <h2 class="wow fadeInUp">Lorem, ipsum.</h2>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
          <div class="portfolio-item wow fadeInUp">
            <a href="../../assets/images/pics/portfolio/3.jpg" class="portfolio-popup">
              <img src="../../assets/images/pics/portfolio/3.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info">
                  <h2 class="wow fadeInUp">Lorem, ipsum.</h2>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
          <div class="portfolio-item wow fadeInUp">
            <a href="../../assets/images/pics/portfolio/4.jpg" class="portfolio-popup">
              <img src="../../assets/images/pics/portfolio/4.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info">
                  <h2 class="wow fadeInUp">Lorem, ipsum.</h2>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
          <div class="portfolio-item wow fadeInUp">
            <a href="../../assets/images/pics/portfolio/5.jpg" class="portfolio-popup">
              <img src="../../assets/images/pics/portfolio/5.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info">
                  <h2 class="wow fadeInUp">Lorem, ipsum.</h2>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
          <div class="portfolio-item wow fadeInUp">
            <a href="../../assets/images/pics/portfolio/6.jpg" class="portfolio-popup">
              <img src="../../assets/images/pics/portfolio/6.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info">
                  <h2 class="wow fadeInUp">Lorem, ipsum.</h2>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
          <div class="portfolio-item wow fadeInUp">
            <a href="../../assets/images/pics/portfolio/7.jpg" class="portfolio-popup">
              <img src="../../assets/images/pics/portfolio/7.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info">
                  <h2 class="wow fadeInUp">Lorem, ipsum.</h2>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-sm-6 ">
          <div class="portfolio-item wow fadeInUp">
            <a href="../../assets/images/pics/portfolio/8.jpg" class="portfolio-popup">
              <img src="../../assets/images/pics/portfolio/8.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info">
                  <h2 class="wow fadeInUp">Lorem, ipsum.</h2>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>

    </div>
  </section>
