<section id="services">
  <div class="container py-5 d-flex flex-column justify-content-center align-items-center">

    <div class="row pt-5">
      <h2 class="sectionHeader">My Services</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
        fugiat culpa esse aute nulla. malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim
        illum fore</p>
    </div>

    <div class="row w-100">

      <app-service-item *ngFor="let item of getSlicedArrOfServices()" [product]="item"
        class="col-12 col-lg-4 col-md-6 col-s-12"></app-service-item>



    </div>
    <div class="row">
      <nav aria-label="...">
        <ul class=" pagination justify-content-center">
          <li class="page-link bg-dark" (click)="
                  currentPage === 0
                    ? currentPage
                    : (currentPage = currentPage - 1)
                " style="cursor: pointer">
                <fa-icon [icon]="faLongArrowAltLeft" class="color" size="1x"></fa-icon>
          </li>

          <li *ngFor="let page of numOfPages; let i = index" class="page-link bg-dark color" (click)="currentPage = i"
            [ngClass]="{ active: i == currentPage }" style="cursor: pointer">
            {{ page }}
          </li>

          <li class="page-link bg-dark" (click)="
                  currentPage >= lastPage - 1
                    ? currentPage
                    : (currentPage = currentPage + 1)
                " style="cursor: pointer">
                <fa-icon [icon]="faLongArrowAltRight" class="color" size="1x"></fa-icon>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</section>
