<div class="box ">
    <div class="row boxHeader d-flex justify-content-center align-items-center">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <fa-icon [icon]="faGem" class="myIcon rounded-circle py-3" size="3x"></fa-icon>
        </div>
        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
            <h4 class="title">{{product.title}}</h4>
            <p class="subTitle">{{product.subTitle}}</p>
        </div>
    </div>
    <div class="row">
        <img src={{product.img}} alt="">
    </div>
    <div class="row m-2">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, qui!</p>
    </div>
    <div class="row mx-2 mb-4">
        <div class="col-3 col-lg-4 col-md-4 col-sm-3 ">
            <button class="btn-get-started">adasd</button>
        </div>
        <div class="col-3 col-lg-4 col-md-4 col-sm-3 ms-1">
            <button class="btn-get-started">adasd</button>
        </div>

    </div>
  
  
  
</div>
