$mainColor:#ff005d;
$secColor:#2ffff5;
$bgMain:#ff005d;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');


///////////// common elements/////////////////

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  @include vendor-prefix('box-sizing', 'border-box');
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0.9;
  }
}

.page-link {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-weight: bolder;
  color: $mainColor !important;

  &:active {

    animation: ripple 0.2s linear;
  }
}

.sectionHeader {
  color: $mainColor;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 62px;
    height: 3px;
    bottom: 0;
    left: 0;
    border-top: $mainColor solid 3px;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }
}

/* Our home Section
--------------------------------*/
/*---------------------------------------------*/

#intro {

  height: 100vh;
  position: relative;
  background: url("./assets/images/pics/header/1.jpg") no-repeat;
  background-size: cover;
  background-position: right 25% top 50%;
  ;

  .intro-content {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 14%;
    z-index: 10;


    h2 {
      color: $mainColor;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 24px;

      span {
        color: #fff;
        font-size: 64px;
        text-transform: uppercase;
        background: -webkit-linear-gradient($secColor 20%, #ff97c0, $mainColor);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

}

.btn-get-started {
  background: transparent;
  padding: 10px 20px;
  font-weight: bolder;
  border: 2px solid $mainColor;
  color: $mainColor;

  &:hover {
    background: none;
    color: #fff;
    background: $mainColor;
  }
}


/* Our Portfolio Section
--------------------------------*/
#portfolio {
  background: linear-gradient(30deg, #130018 54%, #470050 100%);
  padding: 20px 0;

  p {
    color: white;
  }

  .portfolio-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .portfolio-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    /* display: none; */
  }

  .portfolio-item {
    overflow: hidden;
    position: relative;
    padding: 5px;
    vertical-align: middle;
    text-align: center;

    h2 {
      color: #ffffff;
      font-size: 16px;
      margin: 0;
      text-transform: capitalize;
      font-weight: 700;
      background: #00000085;
      border: 1px solid #fff;
      padding: 25px;
      background: linear-gradient(45deg, #e91e6357 0%, #405ece91 100%);
      display: none;
    }

    img {
      -webkit-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s;
      width: 100%;

    }

    &:hover {
      img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

      h2 {
        display: block;
      }

      .portfolio-overlay {
        opacity: 1;
        background: rgba(0, 0, 0, 0.7);
      }
    }
  }
}


.box2 {
  padding: 40px;
  margin: 40px 10px;
  background: #fff;
  transition: 0.4s;
  border: 2px solid $mainColor;
  position: relative;
  overflow: hidden;
  border-radius: 25px;

  &:after {
    content: '';
    width: 80px;
    height: 80px;
    background: $mainColor;
    position: absolute;
    top: -30px;
    border-radius: 50%;
    right: -30px;
  }

  &:hover {
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
  }
}

/*----------------services-----------------------------*/

#services {

  .box {

    margin: 40px 10px;
    background: #212529;
    color: white;
    transition: 0.4s;
    border: 2px solid $mainColor;
    position: relative;
    overflow: hidden;
    border-radius: 25px;

    &::after {
      content: '';
      width: 80px;
      height: 80px;
      background: $mainColor;
      position: absolute;
      top: -30px;
      border-radius: 50%;
      right: -30px;
    }

    &:hover {
      box-shadow: 4px 10px 7px #21252973;
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
    }

    .boxHeader {
      padding: 20px;
      
      div img {
        border: 2px solid $bgMain;
        border-radius: 50%;
        min-width: 75px;
        min-height: 75px;
        max-height: 75px;
        max-width: 75px;
        object-fit: cover;
      }
    }



  }

}

/*----------------services-----------------------------*/


/*----------------------Footer-----------------------------------*/
#footer {
  background: #130018;
  padding: 0 0 30px 0;
  font-size: 14px;
  color: #fff;




  .copyright {
    text-align: center;
    padding-top: 30px;
    color: #ffffffad;
  }

  .credits {
    text-align: center;
    font-size: 13px;
    font-family: 'Frijole', cursive;
    color: #ffffff85;
    margin-top: 8px;

    a {
      color: $mainColor;
    }
  }

}





.back-to-top {
  position: fixed;
  background: $mainColor;
  color: #fff;
  padding: 6px 9px;
  font-size: 16px;
  border-radius: 10px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;

  &:focus {
    background: $mainColor;
    color: #fff;
    outline: none;
  }

  &:hover {
    background: #00bebe;
    color: #fff;
  }

}


.fa-facebook-square {
  &:hover {
    color: #122a5c
  }
}

.fa-twitter-square {
  opacity: 0.9;
  color: #1DA1F2;

  &:hover {
    opacity: 1;
  }
}

.fa-github-square {
  opacity: 0.9;
  color: #cfcfcf;

  &:hover {
    opacity: 1;
    color: #3b3b3b;
  }
}

.fa-linkedin-in {
  opacity: 0.9;
  color: #0a66c2;

  &:hover {
    opacity: 1;
  }
}


/////////////////start of page not found/////////////////

@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

#notFound {
  background: radial-gradient(circle, #270017 0%, #000000 100%);

  h2 {
    font-family: 'Audiowide', cursive !important;
    text-transform: uppercase;
    font-size: 32px;
    color: $secColor;
    font-weight: 700;
    text-shadow: 1px 1px 4px $secColor;
    animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
  }

  h1 {
    font-family: 'Audiowide', cursive !important;
    text-transform: uppercase;
    color: $secColor;
    text-shadow: 1px 1px 4px $secColor;
    font-weight: 900;
    font-size: 74px;
    animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
  }

  .btn-get-started {
    font-family: 'Audiowide', cursive !important;
    color: white !important;
    animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
  }
}


@keyframes flicker4 {
  0% {
    color: $mainColor;
    text-shadow: 1px 1px 4px $mainColor;
  }

  30% {
    color: $mainColor;
    text-shadow: 1px 1px 4px $mainColor;
  }

  31% {
    color: $secColor;
    text-shadow: 1px 1px 4px $secColor;
  }

  32% {
    color: $mainColor;
    text-shadow: 1px 1px 4px $mainColor;
  }

  36% {
    color: $mainColor;
    text-shadow: 1px 1px 4px $mainColor;
  }

  37% {
    color: $secColor;
    text-shadow: 1px 1px 4px $secColor;
  }

  41% {
    color: $secColor;
    text-shadow: 1px 1px 4px $secColor;
  }

  42% {
    color: $mainColor;
    text-shadow: 1px 1px 4px $mainColor;
  }

  85% {
    color: $mainColor;
    text-shadow: 1px 1px 4px $mainColor;
  }

  86% {
    color: $secColor;
    text-shadow: 1px 1px 4px $secColor;
  }

  95% {
    color: $secColor;
    text-shadow: 1px 1px 4px $secColor;
  }

  96% {
    color: $mainColor;
    text-shadow: 1px 1px 4px $mainColor;
  }

  100% {
    color: $mainColor;
    text-shadow: 1px 1px 4px $mainColor;
  }
}

@keyframes fadeInText {
  1% {
    color: #00fff2;
    text-shadow: 1px 1px 4px #00fff2;
  }

  69% {
    color: #00fff2;
    text-shadow: 1px 1px 4px #00fff2;
  }

  70% {
    color: $mainColor;
    text-shadow: 0px 0px 14px $mainColor;
  }

  100% {
    color: $mainColor;
    text-shadow: 1px 1px 4px $mainColor;
  }
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }

  25% {
    filter: hue-rotate(25deg);
  }

  50% {
    filter: hue-rotate(50deg);
  }

  75% {
    filter: hue-rotate(25deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

/////////////////end of page not found/////////////////
